@use '../../styles/App.scss' as *;

.footer {
    display: flex;
    justify-content: center;
    padding: $space-s;
    background-color: $dark;
    color: $light;
    font-size: 14px;
    margin-top: $space-xl;

    a {
        color: $light;
        text-decoration: underline;
    }

    .footer-list {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 200;
        .fl-elt {
            margin: $space-m;
            .fle-link {
                display: flex;
                align-items: center;
            }
            .eva {
                display: flex; 
                margin-right: $space-xs;
            }
        }
    }
}