@use '../../styles/App.scss' as *;

.welcome-screen {
    box-sizing: border-box;
    padding: $space-l 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .ws-illus {
        box-sizing: border-box;
        width: 90%;
        height: auto;
        object-fit: contain;
        height: auto;
        border-radius: $radius-circle;
        margin: $space-m auto;
        border: 10px dotted $primary;
    }
    .ctas {
        margin: $space-xxl 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .homelink {
        margin: $space-s;
        display: flex;
        justify-content: center;
        text-align: center;
        color: $primary;
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration: underline;
        &.__btn {
            font-size: 16px;
            border: transparent;
            background-color: transparent;
            color: $secondary;
            cursor: pointer;
        }
        &:hover, &:focus {
            text-decoration: none;
        }
    }
}