@use '../../styles/App.scss' as *;

.login-form {
    @include card($h: fit-content, $margin: 0 auto, $padding: $space-m $space-l, $bg: lighten($primary, 30%));
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    .form-group {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: $space-s 0;
        .form-label {
            font-size: 1.2rem;
            line-height: 1.5;
        }
        .form-input {
            background-color: lighten($tertiary, 40%);
            color: dark;
            font-size: 1rem;
            border: 1px solid $primary;
            border-radius: $radius-xs;
            padding: $space-xs;
            height: fit-content;
            max-width: 100%;
            &.__password {
                max-width: 55%;
            }
        }
        .form-input-group {
            max-width: 100%;
            display: flex;
            &.__password {
                max-width: 100%;
            }
            button {
                margin-left: $space-s;
                padding: 0 $space-s;
            }
        }
    }
    .btn-ctn {
        width: 100%;
        padding: $space-m 0 0;
        display: flex;
        justify-content: center;
    }
}

.welcome-screen {
    box-sizing: border-box;
    padding: $space-l 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .ws-illus {
        box-sizing: border-box;
        width: 90%;
        height: auto;
        object-fit: contain;
        height: auto;
        border-radius: $radius-circle;
        margin: $space-m auto;
        border: 10px dotted $primary;
    }
    .homelink {
        margin: $space-xxl 0;
        display: flex;
        justify-content: center;
        text-align: center;
        color: $primary;
        font-size: 1.2rem;
        font-weight: 600;
        text-decoration: underline;
        &:hover, &:focus {
            text-decoration: none;
        }
    }
}