@use '../../styles/App.scss' as *;

.character-card{
    box-sizing: border-box;
    width: 100%;
    padding: $space-s $space-xs;
    background-color: lighten($primary, 40%);
    border-radius: $radius-xs;
}

.btn-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $mediabp-s) {
        flex-direction: row;
    }
    button {
        width: 100%;
        justify-content: center;
        margin: $space-s 0;
        @media (min-width: $mediabp-s) {
            margin: 0 $space-s;
            width: auto;
        }
    }
}

.update-form {
    @include card($h: fit-content, $bg: lighten($primary, 40%), $color: $dark);
    .btn-back {
        margin: 0 0 $space-l 0;
    }
    .uf-btn-ctn {
        margin: $space-l 0 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .ccf-bloc {
        margin: $space-m 0;
    }
    .stats-select-menu {
        margin: $space-m 0;
    }
}