/* *** MIXINS *** */

@mixin link ($bg: transparent, $color: $primary, $fsize: 1rem, $marg: 0, $pad: 1rem, $pos: center) {
    color: $color;
    font-size: $fsize;
    margin: $marg;
    padding: $pad;
    display: flex;
    justify-content: $pos;
    &:hover, &:focus {
        color: lighten($color, 8%);
        background-color: lighten($bg, 8%);
    }
}

@mixin button ($color: $light, $bg: $primary, $fsize: 1rem, $pad: $space-m, $marg: 0, $width: fit-content, $hpos: flex-start, $vpos: center) {
    box-sizing: border-box;
    max-width: 100%;
    width: $width;
    display: flex;
    justify-content: $hpos;
    align-items: $vpos;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid transparent;
    border-radius: $radius-s;
    cursor: pointer;
    color: $color;
    background-color: $bg;
    font-size: $fsize;
    padding: $space-s $pad;
    margin: $marg;
    transition: all 300ms ease-in;
    .eva {
        padding-top: $space-xs;
        margin-right: $space-xs;
    }
    &:hover, &:focus {
        background-color: lighten($bg, 8%);
        color: lighten($color, 8%);
    }
}

@mixin card($w: 100%, $h: 250px, $color: $dark, $bg: lighten($primary, 40%), $hpos: flex-start, $vpos: space-between, $margin: $space-m, $padding: $space-s, $radius: $radius-xxs) {
    box-sizing: border-box;
    max-width: 100%;
    width: $w;
    height: $h;
    color: $color;
    background-color: $bg;
    padding: $padding;
    margin: $margin 0;
    display: flex;
    flex-direction: column;
    justify-content: $vpos;
    align-items: $hpos;
    // flex-wrap: wrap;
    // white-space: pre-line;
    // overflow: hidden;
    // text-overflow: ellipsis;
    border-radius: $radius;
    box-shadow: 0 0 5px darken($bg, 10%);
}