/* *** VARIABLES *** */

// Colours
$primary: #439A86;
$secondary: #80475E;
$light: #FCF7F8;
$dark: #0B3954;
$neutral: #CED3DC;
$warning: #DE541E;

// Containers
$classic-ctn: 95%;
$classic-ctn-desktop: 1200px;

// Spacing
$space-xs: 4px;
$space-s: 8px;
$space-m: 16px;
$space-l: 24px;
$space-xl: 36px;
$space-xxl: 64px;

// Font sizes
$fsize-s: 1rem;
$fsize-m: 1.2rem;
$fsize-l: 1.5rem;
$fsize-xl: 2rem;
$fsize-xxl: 2.6rem;

// Radius
$radius-xs: 4px;
$radius-s: 8px;
$radius-m: 16px;
$radius-l: 24px;
$radius-xl: 36px;
$radius-xxl: 64px;
$radius-circle: 50%;